{% extends 'base.html.twig' %}

{% block body %}
    <h1>Address list</h1>

    <table>
        <thead>
            <tr>
                <th>Addressid</th>
                <th>Address</th>
                <th>Address2</th>
                <th>District</th>
                <th>Postalcode</th>
                <th>Phone</th>
                <th>Lastupdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td><a href="{{ path('address_show', { 'id': address.addressId }) }}">{{ address.addressId }}</a></td>
                <td>{{ address.address }}</td>
                <td>{{ address.address2 }}</td>
                <td>{{ address.district }}</td>
                <td>{{ address.postalCode }}</td>
                <td>{{ address.phone }}</td>
                <td>{% if address.lastUpdate %}{{ address.lastUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('address_show', { 'id': address.addressId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('address_edit', { 'id': address.addressId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('address_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
