{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer</h1>

    <table>
        <tbody>
            <tr>
                <th>Customerid</th>
                <td>{{ customer.customerId }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ customer.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ customer.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if customer.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdate</th>
                <td>{% if customer.createDate %}{{ customer.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lastupdate</th>
                <td>{% if customer.lastUpdate %}{{ customer.lastUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('customer_edit', { 'id': customer.customerId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
